<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app" class="container mt-5">
        <div class="d-flex justify-content-between">
            <h1 class="mb-4">Todo App</h1>
            <button class="btn btn-secondary" @click="logout">Logout</button>
        </div>
        <div v-if="offline" class="alert alert-danger mt-3" role="alert">
            You are currently offline. Changes will be synced when you are back online.<br>To ensure a smoother syncing
            experience, we recommend making simple and minimal changes while offline.
        </div>
        <div v-else class="alert alert-success mt-3" role="alert">
            You are online. Changes are synced in real-time.
        </div>
        <div class="mb-3 d-flex">
            <input type="text" class="form-control" placeholder="Enter new todo" v-model="newTodo.content"
                @keyup.enter="addTodo">
            <button class="btn btn-primary ms-2" @click="addTodo">Create</button>
            <button class="btn btn-outline-secondary ms-2" @click="toggleCompletedVisibility">
                {{ showCompleted ? 'Hide Completed' : 'Show Completed' }}
            </button>
        </div>
        <div v-for="(todo, index) in todos" :key="todo.id" class="mb-3"
            v-if="showCompleted || todo.status === 'PENDING'">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex" v-if="editingTodo !== todo">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" :checked="todo.status === 'COMPLETED'"
                                @change="toggleStatus(todo)">
                            <label class="form-check-label"
                                :class="{'text-decoration-line-through': todo.status === 'COMPLETED'}">
                                {{ todo.content }}
                            </label>
                        </div>
                        <div class="ms-auto">
                            <button class="btn btn-warning btn-sm me-2" @click="startEditing(todo)">Edit</button>
                            <button class="btn btn-danger btn-sm" @click="deleteTodo(todo)">Delete</button>
                        </div>
                    </div>
                    <div class="d-flex" v-else>
                        <input type="text" class="form-control me-2" v-model="todo.content">
                        <button class="btn btn-success me-2" @click="updateTodo(todo)">Save</button>
                        <button class="btn btn-secondary" @click="editingTodo = null">Cancel</button>
                    </div>
                    <p class="text-muted mb-0">
                        <small>
                            Created at: {{ formatDate(todo.createdAt) }}
                            <span v-if="todo.createdAt !== todo.updatedAt"> |
                                Updated at: {{ formatDate(todo.updatedAt)}}</span>
                        </small>
                    </p>

                </div>
            </div>
        </div>

        <!-- pagination content -->

        <div class="d-flex justify-content-center my-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" :class="{ 'disabled': currentPage === 0 }">
                        <button class="page-link" @click="loadTodos(currentPage - 1)"
                            :disabled="currentPage === 0">Previous</button>
                    </li>
                    <li class="page-item" v-for="page in paginationArray" :key="page"
                        :class="{ 'active': currentPage === (page - 1) }">
                        <button class="page-link" @click="loadTodos(page - 1)">{{ page }}</button>
                    </li>
                    <li class="page-item" :class="{ 'disabled': currentPage === totalPages - 1 }">
                        <button class="page-link" @click="loadTodos(currentPage + 1)"
                            :disabled="currentPage === totalPages - 1">Next</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>

</html>